<ion-view view-title="Location">
  Welcome {{username}}
  <ion-content class="padding">
    <!-- <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}"> -->
    <!-- </ion-item> -->

    <button ng-click="takeLocation()" class="button button-block button-calm">Take Location</button>
    User: {{newLocation.username}} <br>
    Longitude:  {{newLocation.long}} <br>
    Latitude: {{newLocation.lat}} <br>
    <!-- <div ng-repeat='user in result.data'> -->
    <!-- {{user}} -->
    <!-- </div> -->
    {{result}}

    {{test}}

  </ion-content>
</ion-view>
